<div class="row">

    <%= render 'layouts/sidebar' %>

  <div style="flex:4;">
    <h2>バナー</h2>
      <table>
        <thead>
          <tr>
            <th>画像</th>
            <th>URL</th>
            <th>表示・非表示</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @banners.each do |banner| %>
            <tr>
              <td><%= image_tag banner.get_banner_image(50,50) %><%#= image_tag banner.banner_image if banner.banner_image.attached? %></td>
              <td><%= banner.url %></td>
              <td><%= banner.visible ? '表示' : '非表示' %></td>
              <td><%= link_to '削除', admin_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  
    <%= render "layouts/sidebar_r" %>

</div>