<div class="row" style="margin-top: 150px" >

  <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo.png", size: "500x500" %>
  </div>

  <div style="width: 50%; display: flex; justify-content: center; ">
    <div style="width: 50%; margin-top: 50px;">
      <h2>管理画面ログイン</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Eメール", style: "padding: 8px;border-radius: 12px; margin-bottom: 15px; width: 100%;" %>
        </div>
      
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password" , placeholder: "パスワード", style: "padding: 8px;border-radius: 12px; margin-bottom: 15px; width: 100%;" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :私はロボットではありません。 %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "ログイン" , style: "color: white; padding: 8px;border-radius: 12px; margin-bottom: 10px; width: 100%; border: 3px white solid;; background-color: #D43EFF; margin-top: 15px;"%>
        </div>
      <% end %>
        <%= link_to "トップ画面", root_path %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>

<footer>
  <div style="text-align:center;">©2024 Shunya Yamada. All rights reserved</div>
</footer>