<div class="row">

    <%= render "layouts/sidebar" %>

  <div style="flex:4;">
    <% if @model == 'user' %>
      <h3>Users search for "<%= @content %>"</h3>
    <%= render 'admin/users/index', users: @records %>
    <% elsif @model == 'post' %>
      <h3>Posts search for "<%= @content %>"</h3>
    <%= render 'admin/posts/index', posts: @records %>
  <% end %>
  </div>

    <%= render "layouts/sidebar_r" %>

</div>