<div>
  <div style="position: relative; width: 100%">  
    <%= image_tag user.get_back_image(), style: "width: 100%; height: 250px;" %>
      <div style="position: absolute; bottom: -40px; left: 30px; width: 100%; display: flex; justify-content: space-between;">
        <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle", style: "box-shadow: 0 0 0 5px white;" %>
       <% if current_user != user || current_user.guest? %>
        <div class="" style="margin: 70px 29px 0 0;">
          <%= render 'user/relationships/btn', user: user %></span>
        </div>
      <% elsif current_user == user && !current_user.guest? %>
        <div style="margin: 65px 29px 0 0;">
          <%= link_to edit_user_path(user) do %><button type="button" class="btn btn-outline-secondary">プロフィールを編集する</button><% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  
  
  <div style="margin-top: 50px;">
    <% unless user.id == current_user.id %>
      <% if (current_user.following? user) && (user.following? current_user)  %>
      <% if isRoom == true %>
        <p><a href="/rooms/<%= roomId %>" class="btn btn-outline-secondary" >チャットへ</a>
      <% else %>
        <%= form_for room do |f| %>
          <%= fields_for entry do |e| %>
            <%= e.hidden_field :user_id, value: user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="flex-column">
    <div>
      <div>
        <%= @user.name %>
        <% if @user.is_group_creator %>
          <i class="fa-solid fa-crown" style="color: #D43EFF;"></i>
        <% end %>
      </div>
      <div>
        <%= @user.introduction %>
      </div>
    </div>
    <div>
      <span><%= link_to @user.followings.count, user_followings_path(@user) %>フォロー中</span>
      <span><%= link_to @user.followers.count, user_followers_path(@user) %>フォロワー</span>
    </div>
  </div>
</div>