<div class="row">

  <%= render "user/posts/post_modal", post: @new_post %>
  <%= render "layouts/sidebar" %>

  <div style="flex: 4;">
    <div>
      <div>
        <div>
          <%= render 'layouts/error', obj: @user %>
          <h2>プロフィール編集</h2>
          <%= form_with model: @user do |f| %>
            <div>
              <%= f.text_field :name, autofocus: true, id:"inputName" , placeholder: "アカウント名", style: "padding: 8px;border-radius: 12px; margin-bottom: 15px; width: 100%;" %>
            </div>
            <div>
              <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder: "自己紹介", style: "padding: 8px;border-radius: 12px; margin-bottom: 15px; width: 100%;" %>
            </div>
            <div>
              <%= f.label :プロフィール画像 %>
              <%= f.file_field :profile_image, accept: "image/*", style: "margin-top: 5px;" %>
            </div>
            <div>
              <%= f.label :背景 %>
              <%= f.file_field :back_image, accept: "image/*", style: "margin-top: 5px;" %>
            </div>
            <div>
              <%= f.submit "プロフィール更新", style: "color: white; padding: 8px;border-radius: 12px; margin-bottom: 10px; width: 100%; border: 3px white solid;; background-color: #D43EFF; margin-top: 15px;"%>
            </div>
          <% end %>
          <div><%= link_to "パスワードの変更", edit_user_registration_path %></div>
          <div><%= link_to "アカウント削除", user_path(current_user.id), data: { confirm: "本当に削除して宜しいですか?削除するとアカウントの復旧はできません。", turbo_confirm: "本当に削除して宜しいですか？削除するとアカウントの復旧はできません。" }, method: :delete %></div>
        </div>
      </div>
    </div>
  </div>

  <%= render "layouts/sidebar_r" %>
</div>