<div class="mx-auto" id="postForm" style="display: none;">
<h2>新しくポスト</h2>
<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :イメージ %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label :利用サロン %>
    <%= f.text_field :shop %>
  </div>
  <div>
    <%= f.label :説明 %>
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
</div>

<div class='container'>
  <div class='row'>
    
    <div class='col-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    
    <div class='col-7'>
      <%= render 'user/users/info', user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %>
      <%= render 'user/posts/index', posts: @posts %>
    </div>
    
    <div class='col-2'>
    </div>
    
  </div>  
</div>
