<table>
  <tbody>
    <% post.post_comments.each do |post_comment| %>
    <tr>
      <td class="align-middle">
        <%= link_to admin_user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(50, 50), class: "rounded-circle"; %><br>
          <%= post_comment.user.name %>
        <% end %>
      </td>
      <td class="align-middle"><%= post_comment.comment %></td>
      <td class="align-middle">
          <%= link_to "コメント削除", admin_post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>