<%= form_with model: group, local: true do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "グループ名", style: "padding: 8px;border-radius: 12px; margin-bottom: 15px; width: 100%;" %>
  </div>

  <div>
    <%= f.text_area :introduction, placeholder: "紹介文", style: "padding: 8px;border-radius: 12px; margin-bottom: 10px; width: 100%;" %>
  </div>

  <div>
    <%= f.file_field :group_image, accept: "image/*", style: "margin-top: 5px;" %>
  </div>

  <div>
    <%= f.submit "グループ作成" , style: "color: white; padding: 8px;border-radius: 12px; margin-bottom: 10px; width: 100%; border: 3px white solid;; background-color: #D43EFF; margin-top: 15px;"%>
  </div>
<% end %>