<div class='row'>

  <%= render "user/posts/post_modal", post: @post %>
    <%= render 'layouts/sidebar' %>

  <div style="flex:4;">
    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#section1">グループ一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#section2">参加グループ</a>
        </li>
        <% if @owned_groups.any? %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#section3">管理グループ</a>
        </li>
        <% end %>
      </ul>
      
      <div class="tab-content">
        <div id="section1" class="tab-pane fade show active">
          <div>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th></th>
                  <th>グループ名</th>
                  <th>紹介文</th>
                  <th>参加人数</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @groups.each do |group| %>
                  <tr>
                    <% if group.group_image.attached? %>
                    <td class="align-middle"><%= image_tag group.group_image.variant(resize_to_fill: [50, 50]).processed,class: "rounded-circle" %></td>
                    <% else %>
                    <td class="align-middle"><%= image_tag "no-image.jpg", size: "50x50",class: "rounded-circle" %></td>
                    <% end %>
                    <td class="align-middle"><%= link_to group.name, group_path(group) %></td>
                    <td class="align-middle"><%= group.introduction %></td>
                    <td class="align-middle"><i class="fa-regular fa-user"></i>　<%= group.users.count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div id="section2" class="tab-pane fade">
          <%= render 'user/groups/join_index', join_groups: @join_groups %>
        </div>
         <% if current_user.is_group_creator %>
        <div id="section3" class="tab-pane fade">
          <%= render 'user/groups/owned_index', owned_groups: @owned_groups %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
    <%= render "layouts/sidebar_r" %>

</div>  