<h2>新しくポスト</h2>
<%= form_with model: post do |f| %>
  <div>
    <%= f.label :イメージ %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label :利用サロン %>
    <%= f.text_field :shop %>
  </div>
  <div>
    <%= f.label :説明 %>
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.submit "POST"%>
  </div>
<% end %>
