<div class="container">
  <div class="row">

    <%= render "user/posts/post_modal" %>
    <div class="col-3" style="position: sticky; top: 0; left: 0; height: 100vh; background-color: #D43EFF;">
      <%= render 'layouts/sidebar' %>
    </div>
    
    <div class="col-7">
      <h1>ポストの編集</h1>
      <%= form_with model: @post, mothod: :patch do |f| %>
        <div>
          <%= f.label :shop %>
          <%= f.text_field :shop %>
        </div>
        <div>
          <%= f.label :opinion %>
          <%= f.text_area :caption %>
        </div>
        <div>
          <%= f.submit "Update Book" %>
        </div>
      <% end %>
    
      <%= link_to "Show", post_path(@post) %>
      |
      <%= link_to "Back", posts_path %>
    </div>
    
    <div class="col-2">
      <%= render "layouts/sidebar_r" %>
    </div>

  </div>
</div>
