<div class='container'>
  <div class='row'>

    <%= render "user/posts/post_modal" %>
    <div class='col-2' style="position: sticky; top: 0; left: 0; height: 100vh; background-color: #D43EFF;">
      <%= render 'layouts/sidebar' %>
    </div>
    
    <div class='col-7'>
      <%= render 'user/posts/new', post: @post %>
      <%= render 'user/posts/index', posts: @posts %>
    </div>
    
    <div class="col-3" style="position: sticky; top: 0; left: 0; height: 100vh;">
      <%= render "layouts/sidebar_r" %>
    </div>
    
  </div>  
</div>