<div class='row'>

  <%= render "user/posts/post_modal", post: @post %>
    <%= render 'layouts/sidebar' %>

  <div style="flex:4;">
    <%= render 'layouts/error', obj: @post %>
    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#section1">投稿一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#section2">フォロー中</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="section1" class="tab-pane fade show active">
          <%= render 'user/posts/index', posts: @posts %>
        </div>
        <div id="section2" class="tab-pane fade">
          <%= render 'user/posts/following_post', following_posts: @following_posts %>
        </div>
      </div>
    </div>
  </div>

    <%= render "layouts/sidebar_r" %>

</div>