<h2>New Posts</h2>
<%= form_with model: @post do |f| %>
  <div>
  <%= f.label :img %>
  <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label :shop %>
    <%= f.text_field :shop %>
  </div>
  <div>
    <%= f.label :opinion %>
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
<div>
    <%= image_tag @post.get_image %>
    <p>投稿ユーザー画像：<%= link_to user_path(@user) do %><%= image_tag @user.get_profile_image(80,80) %><% end %></p>
    <p>ショップ名：<%= @post.shop %></p>
    <p>説明：<%= @post.caption %></p>
    <p>ユーザーネーム：<%= @user.name %></p>
    <span id="favorite_btn_<%= @post.id %>"><%= render "user/favorites/btn", post: @post %></span>
        <p class="view-count">👀数: <%= @post_detail.view_counts.count %></p>
    <span id="comment_counter"><%= render "user/post_comments/counter", book: @book %></span>
        <% if @user == current_user %>
        <%= link_to "Edit", edit_post_path(@post)%>
        <%= link_to "Destroy", post_path(@post), method: :delete %>
        <% end %>
        
      <div id="comment_index"><%= render "user/post_comments/index", post: @post %></div>
      <%= render "user/post_comments/form", post: @post, post_comment: @post_comment %>    
</div>
