<div>
  <div style="position: relative; width: 100%">  
    <%= image_tag user.get_back_image(), style: "width: 100%; height: 250px;" %>
    <div style="position: absolute; bottom: -40px; left: 30px; width: 100%; display: flex; justify-content: space-between;">
    <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle", style: "box-shadow: 0 0 0 5px white;" %>
    </div>
  </div>
  <div class="flex-column" style="margin-top: 50px;">
    <div>
      <div>
        <%= @user.name %>
        <% if @user.is_group_creator %>
          <i class="fa-solid fa-crown" style="color: #D43EFF;"></i>
        <% end %>
      </div>
      <div>
        <%= @user.introduction %>
      </div>
    </div>
    <div>
      <span><%= @user.followings.count %>フォロー中</span>
      <span><%= @user.followers.count %>フォロワー</span>
    </div>
    <div><%= button_to "アカウント削除", admin_user_path(user.id), data: { confirm: "本当に削除して宜しいですか?削除するとアカウントの復旧はできません。", turbo_confirm: "本当に削除して宜しいですか？削除するとアカウントの復旧はできません。" }, method: :delete %></div>
    <div>
      
      <%
        if @user.is_group_creator
          now_text = "権限アリ"
          next_text = "権限ナシ"
        else
          now_text = "権限ナシ"
          next_text = "権限アリ"
        end
      %>
      <%= button_to "グループ作成権限を切り替え", admin_user_change_is_group_creator_path(user.id), data: { confirm: "現在 : #{now_text} です。", turbo_confirm: "#{next_text} に変更してよいですか？" }, method: :get %>
    </div>
  </div>
</div>