<div style="flex: 1.5;position: sticky; top: 0; left: 0; height: 100vh; background-color: #D43EFF; margin-right: 40px;">

<div>
<a href="/">
  <%= image_tag "logo2.png", class: 'logo2' %>
</a>
</div>
<% if user_signed_in? %>
  <div class="mt-2 mb-2 h5">
    <%= link_to user_path(current_user.id), class: 'nav-link sidebar-link' do %>
      <i class="fas fa-home"></i>　ホーム
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to users_path, class: 'nav-link sidebar-link' do %>
      <i class="fas fa-users"></i>　ユーザー一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to posts_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-pen-fancy"></i>　投稿一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
      <%= link_to favorites_user_path(current_user), class: 'nav-link sidebar-link' do %>
     <i class="fa-regular fa-bookmark"></i>　ブックマーク
    <% end %>
  </div>
  <% if current_user.is_group_creator %>
  <div class="mt-2 mb-2 h5">
    <%= link_to new_group_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-crown"></i>　グループ作成
    <% end %>
  </div>
  <% end %>
  <div class="mt-2 mb-2 h5">
    <%= link_to groups_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-people-roof"></i>　グループ一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link sidebar-link' do %>
      <i class="fas fa-sign-out-alt"></i>　ログアウト
    <% end %>
  </div>
  <div style="margin:20px 0 0 10px;"><!-- Button trigger modal -->
    <button type="button"  data-toggle="modal" data-target="#exampleModal" style="padding: 10px; border-radius: 25px; color: #D43EFF; background-color: white; border: 1px white solid; width: 90%; font-weight: bold;" >ポストする</button>
  </div>

<% elsif admin_signed_in? %>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_root_path, class: 'nav-link sidebar-link' do %>
      <i class="fas fa-home"></i>　ホーム
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_users_path, class: 'nav-link sidebar-link' do %>
      <i class="fas fa-users"></i>　ユーザー一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_posts_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-pen-fancy"></i>　投稿一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_groups_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-people-roof"></i>　グループ一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to new_admin_banner_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-tower-cell"></i>　バナー作成
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_banners_path, class: 'nav-link sidebar-link' do %>
      <i class="fa-solid fa-tower-cell"></i>　バナー一覧
    <% end %>
  </div>  
  <div class="mt-2 mb-2 h5">
    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link sidebar-link' do %>
      <i class="fas fa-sign-out-alt"></i>　ログアウト
    <% end %>
  </div>
<% end %>

  <div style="margin:10px 0 0 10px;">
    <button class="scroll-to-top-button" onclick="scrollToTop()" style="padding: 10px; border-radius: 25px; color: #D43EFF; background-color: white; border: 1px white solid; width: 90%; font-weight: bold; display:none;">
      <i class="fa-solid fa-chevron-up"></i> トップへ
    </button>
  </div>
  
  <div style="margin:20px 0 0 0;"><%= link_to "サービス概要", about_path , class: 'nav-link sidebar-link'%></div>
  <div style="color: white; margin: 10px 0 0 10px;">©2024 Shunya Yamada. All rights reserved</div>
    
  
</div>

<script>
  // JavaScript code here
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' }); // Smooth scroll to top
  }

  window.onscroll = function() {
    scrollFunction();
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.querySelector('.scroll-to-top-button').style.display = 'block';
    } else {
      document.querySelector('.scroll-to-top-button').style.display = 'none';
    }
  }
</script>