<div class="" style="flex: 1.5;position: sticky; top: 0; left: 0; height: 100vh; background-color: #D43EFF; margin-right: 40px;">
  
<div>
<a href="/">
  <%= image_tag "logo2.png", class: 'logo2' %>
</a>
</div>
<% if user_signed_in? %>
  <div class="mt-2 mb-2 h5">
    <%= link_to user_path(current_user.id), class: 'nav-link' do %>
      <i class="fas fa-home"></i>　ホーム
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to users_path, class: 'nav-link' do %>
      <i class="fas fa-users"></i>　ユーザー一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to posts_path, class: 'nav-link' do %>
      <i class="fa-solid fa-pen-fancy"></i>　投稿一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
      <%= link_to favorites_user_path(current_user), class: 'nav-link' do %>
     <i class="fa-regular fa-bookmark"></i>　ブックマーク
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to groups_path, class: 'nav-link' do %>
      <i class="fa-solid fa-people-roof"></i>　グループ一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
      <i class="fas fa-sign-out-alt"></i>　ログアウト
    <% end %>
  </div>
  <div style="margin:20px 0 0 10px;"><!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">ポストする</button>
  </div>
<% elsif admin_signed_in? %>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_root_path, class: 'nav-link' do %>
      <i class="fas fa-home"></i>　ホーム
    <% end %>
  
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_users_path, class: 'nav-link' do %>
      <i class="fas fa-users"></i>　ユーザー一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_posts_path, class: 'nav-link' do %>
      <i class="fa-solid fa-pen-fancy"></i>　投稿一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to admin_groups_path, class: 'nav-link' do %>
      <i class="fa-solid fa-people-roof"></i>　グループ一覧
    <% end %>
  </div>
  <div class="mt-2 mb-2 h5">
    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
      <i class="fas fa-sign-out-alt"></i>　ログアウト
    <% end %>
  </div>
<% end %>

</div>